<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EpamST.Web</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/view/default/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>about</servlet-name>
    <jsp-file>/WEB-INF/view/default/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>about</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/WEB-INF/view/default/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/WEB-INF/view/default/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <jsp-file>/WEB-INF/view/admin/admin_home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>users</servlet-name>
    <jsp-file>/WEB-INF/view/medic/users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>diagnosis</servlet-name>
    <jsp-file>/WEB-INF/view/medic/diagnosis.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>diagnosis</servlet-name>
    <url-pattern>/diagnosis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>appointment_execute</servlet-name>
    <jsp-file>/WEB-INF/view/medic/appointment_execute.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>appointment_execute</servlet-name>
    <url-pattern>/appointment_execute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>medic</servlet-name>
    <jsp-file>/WEB-INF/view/medic/medic_home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>medic</servlet-name>
    <url-pattern>/medic</url-pattern>
  </servlet-mapping>
</web-app>